.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-bottom: 10px;
}

.list-title {
    width: 250px;
}

RouterLink {
    margin: 0 !important;
    padding: 0 !important;
}

.full-width {
    width: 100%;
}

.nodeLabel > p {
    font-size: 13px !important;
    white-space: normal;
    width: 150px;
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    width: calc(100vw - 20px);
    padding: 10px;
    z-index: 2;
}

.fade-in-out {
    animation: fadeInOut 1s 20;
}

@keyframes fadeInOut {
  0%, 50% { visibility: visible; } /* Fully transparent at the start and end */
  50.1%, 100% { visibility: hidden; }     /* Fully opaque at the midpoint */
}

.timer-btn {
    font-size: 12px;
    font-weight: 500;
}

.carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 30px;
}


@media only screen and (max-width: 567px) {
    .steps > * {
        padding-top: 40px;
        padding-bottom: 40px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
