.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-bottom: 10px;
}

.list-title {
    width: 250px;
}

RouterLink {
    margin: 0 !important;
    padding: 0 !important;
}

.full-width {
    width: 100%;
}

.nodeLabel > p {
    font-size: 13px !important;
    white-space: normal;
    width: 150px;
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    width: calc(100vw - 20px);
    padding: 10px;
    z-index: 2;
}

.fade-in-out {
    animation: fadeInOut 1s 20;
}

@keyframes fadeInOut {
  0%, 50% { visibility: visible; } /* Fully transparent at the start and end */
  50.1%, 100% { visibility: hidden; }     /* Fully opaque at the midpoint */
}

.timer-btn {
    font-size: 12px;
    font-weight: 500;
}

.carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 30px;
}

.meal-edit {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 1100px) {
    .meal-edit {
        flex-direction: column;
    }
}

@media only screen and (max-width: 567px) {
    .steps > * {
        padding-top: 40px;
        padding-bottom: 40px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

table {
    width: 100%;              /* Full-width table */
    border-collapse: collapse; /* Merge borders into a single border */
}

th, td {
    padding: 9px;              /* Add some padding */
    border: 1px solid grey;     /* Light border between cells */
    text-align: left;           /* Align text to the left */
}

thead {
    background-color: #f4f4f4;  /* Light background color for header */
}

tr:hover {
    background-color: #f1f1f1;  /* Row highlight on hover */
}

.softbunch {
    display: flex;
}

.softbunch > * {
    padding-right: 5px;
}
